<div>
  <div class="home jumbotron centered text-center">
    <h1> HOME PAGE</h1>
    <h1> Success</h1>
    <p><a class="btn btn-primary btn-lg text-center" role="button" (click)="logout()">Logout</a></p>
  </div>
  <div class="text-center">
    <h3>Folders</h3>

    <div *ngFor= "let folder of folders">

      <button (click)="loadFiiles(folder.id)" class="btn btn-default">{{folder.path}}</button>
      <ul>
        <div *ngFor= "let file of folders">
          <p>{{file.name}} </p>
        </div>
      </ul>

    </div>

  </div>
</div>
