<!-- SPINNNER for Loading -->
<div *ngIf="working" class="spinner">
  <img src="/app/public/img/icons/spinner.gif">
</div>
<!-- Header -->
<nav class="navbar navbar-default well">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['home']">SEKure Archive</a>
    </div>
    <div class="nav navbar-right">
      <p class="navbar-text">Logged in as: {{username}}</p>
      <button type="submit" class="btn btn-default btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<!-- Container for folder and files -->
<div class = "container">
  <div class="text-center">
    <h3>Your Folders</h3>
    <div *ngFor= "let folder of folders; let i = index">

      <!-- Colapsable folders -->
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading ">
            <h4 class="panel-title">
              <a  data-toggle="collapse" (click)="loadFiles(i, folder.id)" class="click">{{folder.path}}</a>
            </h4>
          </div>

          <!-- Files -->
          <div *ngIf="folder.show">
            <div *ngFor= "let file of folder.files; let j=index">

              <ul id="folder.id" class="list-group">
                <li (click)="showDetails(i, j)"  class="list-group-item click">"{{file.name}}"</li>
                  <div *ngIf="file.show">
                    <div class="panel-footer">
                    <h3 >{{file.name}}</h3>
                      <p>"File Name: {{file.mime}}"</p>
                      <p>"Path: {{folder.name}}"</p>
                      <p>"Mime: {{file.mime}}"</p>
                      <!-- Add other data HERE  -->
                    </div>
                  </div>

              </ul>
            </div>

            <!-- Display folder data here -->
            <!-- <div class="panel-footer">Footer</div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
